$space-large: 2.5rem;
$primary-color: #009688;

.page-title {
    color: $primary-color;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search] {
    box-shadow: none;
    border-color: $primary-color;
}